extends layout
include functions/star
block content 
    .row.page-header 
        .col-lg-12 
            h1 Restorantlar 
    .row 
        .col-xs-12.col-md-12 
            .row
                .col-xs-12.col-sm-6
                    p.rating 
                        +puanOlustur(mekanDetay.puan)
                    p Isparta Pub
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Açılış Saatleri 
                        .panel-body 
                            p 
                                | Pazartesi-Cuma: 20:00-06:00
                            p 
                                | Cumartesi-Pazar: 19:00-06:00
                        .panel.panel-primary 
                            .panel-heading 
                                h2.panel-title Neler Var?
                            .panel-body 
                                span.label.label-warning Jager Master
                                | &nbsp;
                                span.label.label-warning Bira
                                | &nbsp;
                                span.label.label-warning Tekila
                                | &nbsp;
                .col-xs-12.col-sm-6             
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Konum Bilgisi 
                        .panel-body 
                            -var enlem=37.78
                            -var boylam=30.56
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+
                            '&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
    .row 
        .col-xs-12 
            .panel.panel-primary
                .panel-heading
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container
                    .row 
                        .review 
                            .well.well-sm.review-header
                                span.rating 
                                span.review-author Enderes
                                small.reviewTimestamp &nbsp; 13 Ekim 2022
                                span.rating 
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                            .col-xs-12 
                                p Eglenceli hahahaha
    .row 
        .col-xs-12 
            .panel.panel-primary
                .panel-heading
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container
                    .row 
                        .review 
                            .well.well-sm.review-header
                                span.review-author UselessUser0
                                small.reviewTimestamp &nbsp; 13 Ekim 2022
                                | &nbsp;
                                span.rating
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                            .col-xs-12 
                                p gereksiz
                                
